<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Friends</title>
</head>
{% if friendship %}
<h2>Here's your friends</h2>
    <ul>
    {% for friend in friendship %}

        <li>{{album[1]}}<br>
        </li>
    {% endfor %}
    </ul>
{% endif %}


    <body>
        <div class="title">
            <h1>Add friends!</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/addfriends">
                <label for="email">Enter user email:</label>
                <input type="email" name="email" required='true' /><br />
                <input type="submit" value="add" />
            </form>
    </body>
