<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Friends</title>
</head>

{% if message %}
    <h4>{{ message }}</h4>
{% endif %}

{% if friends %}
<h2>Here's your friends</h2>
    <ul>
    {% for friend in friends %}

        <li>{{friend[0]}}<br>
        </li>
    {% endfor %}
    </ul>
{% endif %}

    <body>
        <div class="title">
            <h1>Add friends</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/addfriends">
                <label for="email">Enter user email:</label>
                <input type="email" name="email" required='true' /><br />
                <input type="submit" value="add" />
            </form>

    </body>
<a href='/'>Home</a>
