<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select a photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Enter a caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="name">Select an existed album:</label>
                <input type="text" name="name" required='true' placeholder="Have an existed album?"/><br />
                <label for="tag">Enter a tag:</label>
                <input type="text" name="tag" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
    <body>
        <div class="title">
            <h1>Delete a photo</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/deletephoto">
                <label for="caption">Caption of the photo:</label>
                <input type="text" name="caption" required='true' /><br />
                <input type="submit" value="Delete" />
            </form>
    </body>